name: release-beta
on:
  push:
    tags: ['*beta*']
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: |
          test -n "$NPM_CONFIG_TOKEN"
          bun install
          bun run build
          bun publish --tag next
        env:
          NPM_CONFIG_TOKEN: ${{ secrets.NPM_TOKEN }}
